/* ALGEMEEN */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}


/* HEADER */
header {
    background-color: #fff;
    border: 1px #EAEAEA solid;
    width: 100vw;
    z-index: 3;
}


.logo {
    height: 2rem;
    width: auto;
}

.mandje {
    width: 9%;
    height: 9%;
}

.bovenste_balk {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}


/* NAVIGATIE */

nav {
    position: absolute;
    transform: translateX(-100%);
    background-color: #fff;
    width: 100%;
    display: flex;
    transition: .3s ease-in-out;
}

header nav ul {
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

header nav ul a {
    display: block;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    padding: 45px 20px;
    border-bottom: 1px #EAEAEA solid;
}


/* HAMBURGER MENU STREEPJES*/
div {
    width: 2rem;
    height: 2rem;
    position: relative;
    display: flex;
    align-items: center;
}

span {
    background: #272727;
    display: block;
    height: 2px;
    width: 60%;
}

span::before,
span::after {
    content: '';
    background: #272727;
    display: block;
    position: absolute;
    height: 2px;
    width: 60%;
}

span::before {
    top: 9px;
}

span::after {
    bottom: 9px;
}


/* HAMBURGER TRANSITIE */
.hamburger.active span {
    background: rgba(0, 0, 0, 0);
    transition: .5s;
}

.hamburger.active span::before {
    transform: rotate(135deg);
    top: 12px;
}

.hamburger.active span::after {
    top: 12px;
    transform: rotate(225deg);
}

nav.active {
    transform: translateX(0);
}




/* BODY */

main {
    width: 100%;
}

img {
    width: 20%;
}

article {
    width: 100%
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
}


@media screen and (max-width: 705px) {
    .grote_foto {
        display: none;
    }
}

@media screen and (min-width: 710px) {
    .kleine_foto {
        display: none;
    }
}

.kleine_foto {
    width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
